<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">

    <label class="label">Email</label>
    <input type="email" class="input" placeholder="Email" formControlName="email"/>

    <label class="label">Password</label>
    <input type="password" class="input" placeholder="Password" formControlName="password"/>

    <label class="label">Full Name</label>
    <input type="password" class="input" placeholder="Full Name" formControlName="fullName"/>

    <button class="btn btn-neutral mt-4" type="submit">Crear una cuenta</button>
  </fieldset>
</form>

@if(hasError()){
  <div role="alert" class="alert alert-error animate-fadeIn fixed bottom-5 right-5 w-52">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Error! Task failed successfully.</span>
</div>
}


@if(registerComplete()){
  <div role="alert" class="alert alert-success">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>El registro se a completado exitosamente</span>
  </div>
}
